@icon-color: #585858;
@icon-color-hover: #0b7d2e;
@main-dark: #000;
@main-black: #2a2a2a;
@main-white: #f7f7f7;
@light-white: #fff;
@black-text: #555;
@white_text: #f0f0f0;
@button-background: #222;
@button-background-hover: #333;
@link-color: #333;
@link-color-hover: #0b7d2e;
