@import "public/theme.less";

@header-height: 50px;

.sidebar {
  width: 250px;
  height: 100%;
  background-color: @sidebar-background-color;
  position: fixed;
  top: 0;

  .header {
    height: @header-height;
    padding: 10px 0;
    background-color: @logo-background-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-container {
      padding: 0 5px;

      a {
        font-size: 1.2em;
        font-weight: bold;
        color: @light-gray-text-color;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .content {
    padding: 10px 15px;
    box-sizing: border-box;
    height: calc(100% - 70px);

    ul {
      list-style: none;
      padding: 0;
    }

    // menu
    .group {
      width: 230px;
      margin: 0 auto;
      user-select: none;

      .group-title {
        font-size: 1em;
        font-weight: normal;
        color: @gray-text-color;
      }

      .menu {
        width: 100%;
        margin: 10px 0;

        li {
          font-size: 1em;
          font-weight: normal;
          display: block;
          box-sizing: border-box;
          width: 200px;
          margin: 3px auto;
          color: @black-text-color;
          padding: 5px 20px;
          border-radius: 5px;
          overflow: hidden;
          cursor: pointer;

          &:hover {
            background-color: @sidebar-menu-item-background-color;
            color: @dark-text-color;
          }
        }

        .select {
          background-color: @sidebar-menu-item-background-color;
          color: @dark-text-color;
        }
      }
    }
  }
}

.navbar {
  width: 100%;
  background-color: @navbar-background-color;
  box-sizing: border-box;

  .navbar-container {
    height: @header-height;
    padding: 10px 20px 10px 250px;

    .nav-user {
      float: right;

      button {
        background-color: @navbar-background-color;
        border: none;
        font-size: 1.1em;
        font-weight: bold;
        color: @light-gray-text-color;
        cursor: pointer;
        padding: 5px 10px;
        margin-top: 10px;
        outline: none;

        &:hover {
          color: @white-text-color;
        }
      }
    }
  }
}

.container {
  width: 100%;
  box-sizing: border-box;

  .content {
    padding: 10px 15px 0 265px;
  }
}
