@import "public/theme";

.login-surface {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

header {
  width: 100%;
  display: block;
  font-size: 1.2em;
  padding: 5px 15px;

  .header-title {
    margin: 15px 0;
    padding: 15px;
    line-height: 22px;
    border-left: 5px solid @button-primary-color;
    border-radius: 0 2px 2px 0;
    font-size: 1.1em;
    font-weight: bold;
  }
}

.container {
  height: 650px;

  :before, :after {
    content: '';
    display: block;
    clear: both;
  }

  .particle-background {
    width: 100%;
    height: 100%;
    background-color: @main-background-color;

    canvas {
      display: block;
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

#particle {
  width: 100%;
  height: 100%;
}

footer.footer {
  text-align: center;
  font-size: .9em;
  font-weight: normal;
  color: #666;
  padding: 10px 0;
}

.form-box {
  background-color: @box-background-color;
  width: 450px;
  height: 350px;
  position: absolute;
  right: 10%;
  top: 22%;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999999;

  .form-title {
    margin-top: 30px;
    border-color: @black-text-color;
    border-width: 1px 0 0;
    font-size: 1.1em;
    color: #666;

    legend {
      padding: 0 10px;
      margin-left: 20px;
    }
  }

  .exchange {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    font-size: .9em;
    color: @gary-border-color;
    font-weight: normal;
    cursor: pointer;

    &:hover {
      color: @black-border-color;
    }
  }
}